<div class="row" ng-init="display_type = '<%= display_type %>'">
  <div class="large-12 columns index-container" ng-controller="CourseController">
    <div class="row">
      <%- partial('../sidebar.ejs') %>
      <div class="large-10 columns content-container">
        <div>
          <h3>My Questions</h3>
          <hr/>
          <%- partial('../questions.ejs') %>
        </div>
      </div>
    </div>
  </div>
</div>