<ul class="posts-list">
  <li class="post-item" ng-repeat="question in course.questions">
    <%- partial('question.ejs') %>
    <div class="post-answers-container" ng-show="question.answers.length && question.answer_open">
      <h5 class="post-answers-title">{{ question.answers.length }} Answer<span ng-show="question.answers.length != 1">s</span></h5>
      <%- partial('answer.ejs') %>
    </div>
    <hr />
  </li>
</ul>