<div class="large-2 columns menu-container">
  <% if (typeof fb_user !== 'undefined') { %>
  <div class="profile-container">
    <img class="thumbnail" src="<%= 'https://graph.facebook.com/' + fb_user.username + '/picture' %>"/>
    <div class="profile-details-container">
      <a href="#"><%= fb_user.name %></a>
    </div>
  </div>
  <% } %>
  <ul class="clearfix">
    <li>
      <h6 class="menu-title">Favourites</h6>
      <ul>
        <li><a href="/feed"><span class="icon-container"><i class="icon-list-ul"></i></span> Feed</a></li>
        <li><a href="/my-questions"><span class="icon-container"><i class="icon-question-sign"></i></span> My Questions</a></li>
       <!--  <li><a href="/"><span class="icon-container"><i class="icon-tag"></i></span> Followed</a></li>
        <li><a href="/"><span class="icon-container"><i class="icon-comments"></i></span> Chat</a></li>
        <li><a href="/"><span class="icon-container"><i class="icon-briefcase"></i></span> Organizer</a></li> -->
      </ul>
    <li>
      <h6 class="menu-title">Courses</h6>
      <ul>
        <% for (var i = 0; i < courses.length; i++) { %> 
        <li><a href="/courses/<%= courses[i].id %>"><%= courses[i].course_name %></a></li>
        <% } %>
      </ul>
    </li>
    <li class="others">
      <h6 class="menu-title">Others</h6>
      <ul>
        <li><a href="/invite">Invite Friends</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/team">The Team</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="mailto:tay.yang.shun@gmail.com?subject=Osmose">Contact</a></li>
        <!-- <li><a href="#" onclick="inviteFbFriends()">Invite Friends</a></li> -->
        <!-- <li><a href="/terms">Terms</a></li> -->
        <!-- <li><a href="/privacy">Privacy</a></li> -->
      </ul>
    </li>
    <li class="others">
      <h6 class="menu-title">LIKE US ON FACEBOOK</h6>
      <div class="fb-like-container">
        <div class="fb-like" data-href="http://osmose.soedar.com" data-width="100" data-colorscheme="dark" data-layout="button_count" data-show-faces="false" data-send="false"></div>
      </div>
    </li>
  </ul>
</div>