<div class="large-2 columns menu-container">
  <% if (typeof fb_user !== 'undefined') { %>
  <div class="profile-container">
    <img class="thumbnail" src="<%= 'https://graph.facebook.com/' + fb_user.username + '/picture' %>"/>
    <div class="profile-details-container">
      <a href="#"><%= fb_user.name %></a>
    </div>
  </div>
  <% } %>
  <ul>
    <li>
      <h6 class="menu-title">Favourites</h6>
      <ul>
        <li><a href="/feed"><span class="icon-container"><i class="icon-list-ul"></i></span> Feed</a></li>
        <li><a href="/"><span class="icon-container"><i class="icon-question-sign"></i></span> My Questions</a></li>
        <li><a href="/"><span class="icon-container"><i class="icon-tag"></i></span> Followed</a></li>
        <li><a href="/"><span class="icon-container"><i class="icon-comments"></i></span> Chat</a></li>
        <li><a href="/"><span class="icon-container"><i class="icon-briefcase"></i></span> Organizer</a></li>
      </ul>
    <li>
      <h6 class="menu-title">Modules</h6>
      <ul>
        <li ng-repeat="course in courses"><a href="courses/{{ course.id }}">{{ course.course_name }}</a></li>
      </ul>
    </li>
    <li class="others">
      <h6 class="menu-title">Others</h6>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#" onclick="inviteFbFriends()">Invite Friends</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
      </ul>
    </li>
  </ul>
</div>