<div class="row">
  <div class="large-12 columns index-container">
    <div class="row">
      <div class="large-3 columns profile-container">
        <div class="profile-box">
          <div class="profile-name-container">
            <img class="profile-thumbnail" ng-src="{{ picturelink }}"/>
            <h5 class="profile-name">{{ name }}</h5>
          </div>
          <div class="profile-status-container">
            <p>Just attended my first CS1010S lecture. It was AWESOME! Can't wait to get my hands on Python!</p>
          </div>
        </div>
      </div>
      <div class="large-9 columns content-container">
        <div ng-controller="CourseController">
          <h3>Feed</h3>
          <hr/>
          {{ console.log(course) }}
          <ul class="posts-list">
            <li class="post-item" ng-repeat="question in course.questions">
              <div class="post-summary-column">
                <img class="thumbnail" ng-src="{{ formatThumbnail(question.user.facebook_id) }}" />
                <p class="post-score-action"><i class="icon-chevron-sign-up"></i></p>
                <p class="post-score">{{ question.score }} </p>
                <p class="post-score-action"><i class="icon-chevron-sign-down"></i></p>
              </div>
              <div class="post-question-container">
                <h4 class="post-title"><a href="#">{{ question.title }}</a></h4>
                <p>{{ question.content }}</p>
                <p class="post-details">{{ formatDate(question.createdAt) }} &middot; 
                  <span class="post-user-reply">{{ question.user.name }}</span> &middot;
                  <span class="post-answered"></span> &middot; 
                  <a ng-click="question.action_type = 'Comment'; question.action_open = true;">Comment</a> &middot;
                  <a ng-click="question.action_type = 'Answer'; question.action_open = true">Answer</a>
                  <span ng-show="question.action_open"> &middot;
                    <a ng-click="question.action_open = false">Cancel reply</a>
                  </span>
                </p>
                <div class="post-action-container" ng-init="question.action_open = false" ng-show="question.action_open">
                  <textarea></textarea><a href="#" class="button post-action-button">{{ question.action_type }}</a>
                </div>
                <div class="post-comments-container" ng-show="question.comments.length">
                  <h5 class="post-section-title">{{ question.comments.length }} Comment<span ng-show="question.comments.length != 1">s</span></h5>
                  <div ng-repeat="comment in question.comments">
                    <img class="thumbnail-small" ng-src="{{ formatThumbnail(comment.user.facebook_id) }}" />
                    <div class="post-comment-container">
                      <p class="post-section-text" >{{ comment.content }}</p>
                      <p class="post-details">
                        {{ formatDate(comment.createdAt) }} &middot; <span class="post-user-reply">{{ comment.user.name }}</span>
                      </p>
                    </div>
                  </div>
                </div>
                <hr/ ng-show="question.answers.length">
              </div>
              <div class="post-answers-container" ng-show="question.answers.length">
                <h5 class="post-answers-title">{{ question.answers.length }} Answer<span ng-show="question.answers.length != 1">s</span></h5>
                <div ng-repeat="answer in question.answers">
                  <div class="post-answer-summary-column">
                    <img class="thumbnail-small" ng-src="{{ formatThumbnail(answer.user.facebook_id) }}" />
                  </div>
                  <div class="post-answer-container">
                    <p>{{ answer.content }}</p>
                    <p class="post-details">
                      {{ formatDate(answer.createdAt) }} &middot; <span class="post-user-reply">{{ answer.user.name }}</span>
                    </p>
                    <div class="post-comments-container" ng-show="answer.comments.length">
                      <h5 class="post-section-title">{{ question.comments.length }} Comment<span ng-show="answer.comments.length != 1">s</span></h5>
                      <div ng-repeat="comment in answer.comments">
                        <img class="thumbnail-small" ng-src="{{ formatThumbnail(comment.user.facebook_id) }}" />
                        <div class="post-comment-container">
                          <p class="post-section-text" >{{ comment.content }}</p>
                          <p class="post-details">
                            {{ formatDate(comment.createdAt) }} &middot; <span class="post-user-reply">{{ comment.user.name }}</span>
                          </p>                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
            </li>
          </ul> 
        </div>
      </div>
    </div>
  </div>
</div>