<div class="row">
  <div class="large-12 columns index-container" ng-controller="InviteController">
    <div class="row">
      <%- partial('../sidebar.ejs') %>
      <div class="large-10 columns content-container">
        <div>
          <h3>Invite</h3>
          <p>Share the love, invite your friends into Osmose!</p>
          <hr/>
        </div>
      </div>
    </div>
  </div>
</div>