<div class="row">
	<div class="large-12 columns">
	  <h1>Hello {{ name }},</h1>
	  <img ng-src="{{ picturelink }}"/> 
	  <hr/>
	</div>
	<div ng-controller="CourseController">
		{{ course }}
		<h2>{{ course.course_name }}</h2>
		<ul>
			<li ng-repeat="question in course.questions">
			{{ question.title }}
			<p ng-repeat="comment in question.comments">{{ comment.content }}</p>
			<hr />
			<p ng-repeat="answer in question.answers">{{ answer.content }}</p>
			</li>
		</ul>
	</div>
</div>