<div class="row">
	<div class="large-12 columns">
		<div class="login-box">
			<img class="landing-logo" src="img/logo-large.png" />
			<h1>Make discussions meaningful.</h1>
			<hr/>
			<p>Engage with your peers and instructors in a course. A gamified experience like no other.</p>
		</div>
	</div>
</div>