<div class="row">
	<div class="large-12 columns">
	You need to login to Facebook in order to use the site.
	<br /><br />
	<a href="<%= fb_login_url %>">Click here to login to Facebook</a>
	</div>
</div>