<div class="post-answer-container clearfix" ng-repeat="answer in question.answers | orderBy:'score':true">
  <div class="post-answer-summary-column">
    <img class="thumbnail-small" ng-src="{{ formatThumbnail(answer.user.facebook_id) }}" />
    <!-- <p class="post-score-action"><i class="icon-chevron-sign-up"></i></p> -->
    <p class="post-score">{{ answer.score }} </p>
    <!-- <p class="post-score-action"><i class="icon-chevron-sign-down"></i></p> -->
  </div>
  <div class="post-answer-content">
    <p class="post-text post-main-text" ng-bind-html-unsafe="formatText(answer.content)"></p>
    <p class="post-details">
      <i ng-class="generateVoteClass(answer, 'up')" ng-click="upvote(answer, 'ANSWER')"></i> &middot; 
      <i ng-class="generateVoteClass(answer, 'down')" ng-click="downvote(answer, 'ANSWER')"></i> &middot; 
      <!-- <i class="icon-thumbs-up-alt post-action-upvote" ng-click="voteAnswer(answer, 1)"></i> &middot;  -->
      <!-- <i class="icon-thumbs-down-alt post-action-downvote" ng-click="voteAnswer(answer, -1)"></i> &middot; -->
      <span class="post-user-reply">Answered by {{ answer.user.name }}</span> &middot; 
      <a ng-init="answer.comment_open = false" ng-click="answer.comment_open = !answer.comment_open;">
        <span ng-show="!answer.comment_open">
          <span ng-show="answer.comments.length">{{ answer.comments.length }} Comment<span ng-show="answer.comments.length != 1">s</span></span>
          <span ng-show="!answer.comments.length">Write a Comment</span>
        </span>
        <span ng-show="answer.comment_open">Hide comments</span>
      </a> &middot;
      {{ formatDate(answer.createdAt) }} 
    </p>
    <div class="post-comments-container" ng-show="answer.comment_open">
      <h5 class="post-section-title" ng-show="answer.comments.length">{{ answer.comments.length }} Comment<span ng-show="answer.comments.length != 1">s</span></h5>
      <div ng-repeat="comment in answer.comments">
        <img class="thumbnail-small" ng-src="{{ formatThumbnail(comment.user.facebook_id) }}" />
        <div class="post-comment-container">
          <p class="post-text post-section-text" ng-bind-html-unsafe="formatText(comment.content)"></p>
          <p class="post-details">
            <span class="post-user-reply">{{ comment.user.name }}</span> &middot; {{ formatDate(comment.createdAt) }} 
          </p>                        
        </div>
      </div>
      <div class="post-action-container">
        <a class="button post-action-button" ng-click="addCommentInAnswer(answer, user_comment); user_comment = '';">Comment</a>
        <div class="post-action-textarea">
          <textarea ng-model="user_comment"></textarea>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</div>