.main-container {  margin: 0 auto; }
html { background-color: #333; }
body { font-family: 'omnes-pro', sans-serif; background-color: #fff; }
h1, h2, h3, h4, h5, h6 { font-family: 'omnes-pro', sans-serif; font-weight: 500; color: #666; }
p { font-size: 14px; }
.button { background-color: #07569a; border: none; font-weight: 500; }
.button:hover { background-color: #0977d5; }

/* Navigation */
.navigation .nav-bar-logo { padding-bottom: 3px; }
.top-bar { background: #0977d5;}
.top-bar-section ul li>a { font-weight: 400; }
.top-bar-section ul { background: #0977d5;}
.top-bar-section li a:not(.button) { background: #0977d5; }
.top-bar-section li a:not(.button):hover { background: #07569a; }

/* Landing */
.landing-page { height: 100%; width: 100%; background-image: url('../img/background.jpg'); background-repeat: no-repeat; background-size: cover;}
.login-box-container { background-color: #f0f0f0; text-align: center; margin-top: 10%; padding: 0; }
.login-box { padding: 50px 20px 0 20px; }
.login-box h1 { font-size: 24px; }
.login-box .landing-logo { width: 300px; }
.login-box .definition { font-family: Georgia; font-style: italic; color: #aaa; font-size: 12px;}
.login-box-container .login-bottom { background-color: #ccc; padding: 10px 0; margin-bottom: 0; }
.login-box-container .login-bottom a { margin: 0 10px; color: #333; font-weight: 600; }
.login-box-container .login-bottom a:hover { color: #0977d5; }

/* Footer */
.footer-container { background-color: #333; }
.landing-page .footer-container { position: fixed; bottom: 0; top: initial;}
.footer { text-align: center; color: #fff;}