.main-container {  margin: 0 auto; }
html { background-color: #333; }
body { font-family: "museo-sans", 'helvetica-neue-light', sans-serif; background-color: #eee; }
h1, h2, h3, h4, h5, h6 { font-family: "museo-sans", 'helvetica-neue-light', sans-serif; font-weight: 500; color: #666; }
p { font-size: 16px; font-weight: 100;}
a:hover { color: #ccc;}
.button { background-color: #07569a; border: none; font-weight: 500; }
.button:hover { background-color: #0977d5; }
.contain-to-grid { background-color: #0977d5; }
.contain-to-grid .top-bar { margin-bottom: 0; }

/* Navigation */
.navigation .nav-bar-logo { padding-bottom: 3px; }
.top-bar { background: #0977d5; margin-bottom: 0; }
.top-bar-section ul li>a { font-weight: 400; }
.top-bar-section ul { background: #0977d5;}
.top-bar-section li a:not(.button) { background: #0977d5; }
.top-bar-section li a:not(.button):hover { background: #07569a; }
.thumbnail-navigation { width: 25px; height: 25px; margin-right: 10px; border-radius: 2px; }

/* Landing */
.landing-page { height: 100%; width: 100%; background-image: url('../img/background2.jpg'); background-repeat: no-repeat; background-size: cover;}
.login-box-container { background-color: #f0f0f0; text-align: center; margin-top: 10%; padding: 0; }
.login-box { padding: 50px 20px 0 20px; }
.login-box h1 { font-size: 24px; }
.login-box .landing-logo { width: 300px; }
.login-box .definition { font-family: Georgia; font-style: italic; color: #aaa; font-size: 12px;}
.login-box-container .login-bottom { background-color: #ccc; padding: 10px 0; margin-bottom: 0; }
.login-box-container .login-bottom a { margin: 0 10px; color: #333; font-weight: 600; }
.login-box-container .login-bottom a:hover { color: #0977d5; }
.fb-like { margin-bottom: 10px; height: 35px; }

/* Main */
.index-container { background-color: #222; }

/* Content */
.content-container { background-color: #fff; min-height: 600px; }

.thumbnail-small { width: 30px; height: 30px; border-radius: 3px; float: left; margin-right: 10px; margin-top: 5px; }

/* Feed */
.posts-list { list-style-type: none; }
.post-title a { color: #0977d5;}
.post-title a:hover { text-decoration: underline; }
.post-question-content { margin-left: 50px; margin-bottom: 10px; }
.post-summary-column { width: 40px; float: left; }
.post-summary-column p, .post-answer-summary-column p { margin-top: 5px; margin-bottom: 0; text-align: center; color: #666;}
.thumbnail { width: 40px; height: 40px; border-radius: 5px; margin-bottom: 5px; }
.post-score { font-size: 12px; line-height: 13px; font-weight: 500; text-align: center; color: #666; }
.post-question-container:hover .post-score-action { opacity: 1; }
.post-details { font-size: 12px; line-height: 14px; color: #bbb; }
.post-details [class*='post-action-']:hover { cursor: pointer; }
.post-details .post-action-upvote:hover { color: rgb(75, 212, 75); }
.post-details .post-action-downvote:hover { color: rgb(233, 52, 81); }
.post-details a:hover { text-decoration: underline; }
.post-text { margin-bottom: 10px; }
.post-main-text { font-weight: 300; }
.post-unanswered { font-weight: 400; color: rgb(233, 52, 81); }
.post-unanswered:before { content: 'Unanswered'; }
.post-answered { font-weight: 400; color: rgb(75, 212, 75); }
.post-answered:before { content: 'Answered';}
.post-answer-container { margin-bottom: 30px; }
/*.post-answer-container:hover .post-score-action { opacity: 1; }*/
.post-section-title { font-size: 11px; color: #666; }
.post-section-text { color: #333; font-size: 14px; }
.post-answers-title { font-size: 14px; color: #666; padding-left: 10px; }
.post-answer-summary-column { width: 30px; margin-left: 10px; float:left; text-align: right; }
.post-answer-summary-column .thumbnail-small { margin-right: 0; margin-bottom: 5px; float: right; }
.post-answer-content { padding-left: 50px;}
.post-action-container { text-align: right;  }
.post-action-container .post-action-textarea { padding-right: 100px;}
.post-action-button { float: right; font-size: 12px; }
.post-user-reply { color: #999; font-weight: 500; }

/* Menu */
.menu-container { padding: 10px 0;}
.menu-container ul { list-style-type: none; }
.menu-container ul li ul { margin-left: 0; }
.menu-container a { padding: 0.3em 1em; font-weight: 400; font-size: 14px; color: #fff; width: 100%; height: 100%; display: inline-block; }
.menu-container ul li ul li a { padding-left: 1.2em; }
.menu-container .menu-title { color: #888; padding-left: 0.8em; text-transform: uppercase; font-size: 12px; margin-top: 10px; margin-bottom: 0; }
.menu-container ul li ul a { font-size: 12px; }
.menu-container ul li ul li:hover { background-color: #444; }
.menu-container .icon-container { width: 20px; display: inline-block; }
.menu-container .others a { font-weight: 100; }

.menu-container .profile-container { padding: 0 10px; margin-bottom: 20px;}
.menu-container .profile-container .thumbnail { border-radius: 5px; float: left; }
.menu-container .profile-container .profile-details-container { margin-left: 40px; }
/* Footer */
.footer-container { background-color: #333; }
.landing-page .footer-container { position: fixed; bottom: 0; top: initial;}
.footer { text-align: center; color: #fff;}