<div class="row">
  <div class="large-12 columns index-container">
    <div class="row">
      <%- partial('../sidebar.ejs') %>
      <div class="large-10 columns content-container">
        <div ng-controller="QuestionController">
          <h3>Feed</h3>
          <hr/>
          {{ console.log(course) }}
          <%- partial('../questions.ejs') %>
        </div>
      </div>
    </div>
  </div>
</div>